:root { 
  --black: #000000;
  --boston-blue: #3c8bb4;
  --eerie-black: #1e1e1e;
  --hibiscus: #b9285e;
  --sycamore: #8d982e;
  --white: #ffffff;
  --yellow-orange: #f3ac3e;
 
  --font-size-l: 40px;
  --font-size-m: 24px;
  --font-size-s: 20px;
  --font-size-xl: 48px;
  --font-size-xs: 16px;
  --font-size-xxl: 56px;
  --font-size-xxxl: 64px;
 
  --font-family-nunito: "Nunito", Helvetica;
}
.nunito-black-black-24px {
  color: var(--black);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.nunito-black-hibiscus-24px {
  color: var(--hibiscus);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.nunito-black-white-24px {
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.nunito-black-eerie-black-20px {
  color: var(--eerie-black);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 900;
}

.nunito-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.nunito-black-white-36px {
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
}

.nunito-black-eerie-black-24px {
  color: var(--eerie-black);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.nunito-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.nunito-black-white-64px {
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 900;
}

.nunito-black-white-55px {
  color: var(--white);
  font-family: var(--font-family-nunito);
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
}
