<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple Javascript Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="/static/css/quiz.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="widget-wrap">
  <h1>CHIDOLINGO LANGUAGE<br>LEVEL QUIZ</h1>
  
  <!-- (A) QUIZ CONTAINER -->
  <div id="quizWrap"></div>
  
  <!-- (X) VISIT CODE-BOXX -->
  <div id="code-boxx">
    Best of luck!

  </div>
</div>
<!-- partial -->
  <script  src="/static/scripts/quiz.js"></script>

</body>
</html>
