<!DOCTYPE HTML>

<html>
	<head>
		<title>Contact</title>
	</head>
	<body>
		<div class="container">
			<h1>Contact Us</h1>
			<form method="POST" action="/signup/submit">
				{{ form.csrf_token }}

				<p>
					{{ form.name.label }}
					<br>
					{{ form.name }}
				</p>


				<p>
					{{ form.email.label }}
					<br>
					{{ form.email(size=30) }}
				</p>


        {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </ul>
        {% endif %}

				{{ form.submit }}
			</form>
		</div>
	</body>
</html>
